*{
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
}
.clearb{
    clear: both;
}
header ul{
    width: 1200px;
    height: 160px;
    margin:20px auto 0px;
}
header ul li{
    float: left;
    width: 120px;
    height: 120px;
    background: red;
    border:0px solid white;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 28px;
    font-size: 26px;
    color: #fff;
}
header ul li:hover{
    cursor: pointer;
}
header ul li:after{
    content: ' ';
    display: inline-block;
    position: relative;
    width: 83%;
    height: 83%;
    margin:5%;
    border:4px solid transparent;
    border-left: 4px solid white;
    border-radius: 50%;
    top: -120px;
    transition: .5s;
    transform: rotate(45deg);
}
header ul li:hover:after{
    transform: rotate(225deg);
}
header ul :nth-child(1){
    width: 180px;
    height: 180px;
    -webkit-box-shadow: 0 0 15px  #333;
    -moz-box-shadow: 0 0 15px  #333;
    box-shadow: 0 0 15px  #333;
    padding: 33px;
    font-size:42px;
    box-sizing: border-box;
    font-weight:700;
    text-shadow: 2px 2px 0 #fff,4px 4px 0 #666;
    background:white;
    color: #666;
    margin-top: 0;
}
header ul :nth-child(1):after{
    border-left: 0;
}
header ul :nth-child(2){
    line-height:120px;
    background-color: #e74c3c;
}
header ul :nth-child(3){
    line-height:120px;
    background: #f39c12;
}
header ul :nth-child(4){
    line-height:120px;
    background: #1abc9c;
}
header ul :nth-child(5){
    line-height:120px;
    background: #3498db;
}
header ul :nth-child(6){
    line-height:120px;
    background: #8e44ad;
}
header ul :nth-child(7){
    line-height:120px;
    background: #2c3e50;
}
.label-area{
    width: 1020px;
    margin: 0 auto;
}
.label-area ul li{
    width: 170px;
    height: 170px;
    /*background-color: red;*/
    float: left;
}
.label-area ul li aside{
    display: inline-block;
    font-size: 20px;
    font-weight:bolder;
    color: white;
    vertical-align: middle;
    line-height: 1.7 !important;
    margin-top: 51px;
    transition: .5s;
}
.label-area ul li .icons{
     width: 82px;
     height: 82px;
     position: absolute;
     top:44px;
     left: 44px;
     transition: .5s;
 }
.label-area ul li:nth-child(4){
    overflow: visible;
    position: relative;

}
.label-area ul li:nth-child(4) p{
    display: block;
    width: 510px;
    position: relative;
    right: 380px;
    text-align: right;
    color: #666;
    line-height: 1.7;
}


/*============第五个块的设置======开始========*/
.label-area ul li:nth-child(5){
    background: #e74c3c;
    position: relative;
}
.label-area ul li:nth-child(4) p:nth-child(1){
    margin-top: 28px;
    font-size: 28px;
    font-weight:bolder;
}
.label-area ul li:nth-child(5) .icons{
    background-image: url("../images/icons.png");
    opacity: 0;
    transform: rotate(0deg);
}
.label-area ul li:nth-child(5):hover .icons{
    opacity: 1;
    transform: rotate(360deg);
    cursor: pointer;
}
.label-area ul li:nth-child(5):hover aside{
    transform: rotate(360deg);
    opacity: 0;
}
.label-area ul li:nth-child(5):hover{
    cursor: pointer;
}
/*============第五个块的设置======结束========*/

/*============第六个块的设置======开始========*/
.label-area ul li:nth-child(6){
    background-image: url("../images/index-label-6.jpg");
}

/*============第六个块的设置======开始========*/

/*============第七个块的设置======开始========*/
.label-area ul li:nth-child(7){
    background-image: url("../images/index-label-7.jpg");
}

/*============第七个块的设置======结束========*/

/*============第八个块的设置======开始========*/
.label-area ul li:nth-child(8){
    position: relative;
    background:#1abc9c;
}
.label-area ul li:nth-child(8) aside{
    position: relative;
    margin-top: 35px;
}
.label-area ul li:nth-child(8) .icons {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 170px;
    height: 170px;
    background-color: #28e1bd;
    transform: rotateY(90deg);
    transform-origin: 0 0 ;
}
.label-area ul li:nth-child(8) .icons div{
    width: 82px;
    height: 82px;
    position: relative;
    top:44px;
    left: 44px;
    background-image: url("../images/icons.png");
    background-position: 82px 0px ;
}
.label-area ul li:nth-child(8):hover{
    cursor: pointer;
}
.label-area ul li:nth-child(8):hover .icons{
    transform: rotateY(0deg);
}
/*============第八个块的设置======结束========*/

/*============第九个块的设置======结束========*/
.label-area ul li:nth-child(9){
    background: #f5b043;
    position: relative;
}
.label-area ul li:nth-child(9) aside{
    position: relative;
    z-index: 0;
}
.label-area ul li:nth-child(9) .icons {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 170px;
    height: 170px;
    background: #f39c12;
    transform: rotateY(-90deg);
    transform-origin: 100% 0 ;
}
.label-area ul li:nth-child(9) .icons div{
    width: 82px;
    height: 82px;
    position: relative;
    top:44px;
    left: 44px;
    background: url("../images/icons.png") 328px 0px;
}
.label-area ul li:nth-child(9):hover{
    cursor: pointer;
}
.label-area ul li:nth-child(9):hover .icons{
    transform: rotateY(0deg);
}
/*============第九个块的设置======结束========*/

/*============第十个块的设置======结束========*/
.label-area ul li:nth-child(10){
    background-image: url("../images/index-label-10.jpg");
}
/*============第十个块的设置======结束========*/

/*============第十一个块的设置======结束========*/
.label-area ul li:nth-child(11){
    background-image: url("../images/index-label-11.jpg");
}
/*============第十一个块的设置======结束========*/

/*============第十二个块的设置======结束========*/
.label-area ul li:nth-child(12){
    background: #8e44ad;
    position: relative;
}
.label-area ul li:nth-child(12) aside{
    position: relative;
    margin-top: 35px;
}
.label-area ul li:nth-child(12) .icons{
    background: url("../images/icons.png") 246px 82px;
    opacity: 0;
    transform: scale(0,0);
}
.label-area ul li:nth-child(12):hover .icons{
    opacity: 1;
    transform: scale(1,1);
    cursor: pointer;
}
.label-area ul li:nth-child(12):hover aside{
    transform: scale(0,0);
    opacity: 0;
}
.label-area ul li:nth-child(12):hover{
    cursor: pointer;
}
/*============第十二个块的设置======结束========*/

/*============第十五个块的设置======结束========*/
.label-area ul li:nth-child(15){
    background-image: url("../images/index-label-15.jpg");
}
/*============第十五个块的设置======结束========*/

/*============第十六个块的设置======结束========*/
.label-area ul li:nth-child(16){
    background: #3498db;
    position: relative;
}
.label-area ul li:nth-child(16) aside{
    position: relative;
    margin-top: 68px;
}
.label-area ul li:nth-child(16) .icons{
    background-position: 246px 0px;
    opacity: 0;
    transform: rotateY(180deg);
}
.label-area ul li:nth-child(16):hover .icons{
    opacity: 1;
    transform:rotateY(0deg);
    cursor: pointer;
}
.label-area ul li:nth-child(16):hover aside{
    transform: rotateY(180deg);
    opacity: 0;
}
.label-area ul li:nth-child(16):hover{
    cursor: pointer;
}
/*============第十六个块的设置======结束========*/

/*============第十七个块的设置======结束========*/
.label-area ul li:nth-child(17){
    background: #2c3e50;
    position: relative;
    overflow: hidden;
}
.label-area ul li:nth-child(17) aside{
    position: relative;
    z-index: 0;
}
.label-area ul li:nth-child(17) .icons {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 170px;
    height: 170px;
    background: #3e5771;
    transform: translateY(-170px);
    transform-origin: 0 0 ;
}
.label-area ul li:nth-child(17) .icons div{
    width: 82px;
    height: 82px;
    position: relative;
    top:44px;
    left: 44px;
    background: url("../images/icons.png") 164px 0px;
}
.label-area ul li:nth-child(17):hover{
    cursor: pointer;
}
.label-area ul li:nth-child(17):hover .icons{
    transform: translateY(0px);
}
/*============第十七个块的设置======结束========*/