@charset "utf-8";
/* CSS Document */

/* 弹出窗 */
.dialog-bg{background-color:#000;width:100%;height:100%;left:0;top:0;filter:alpha(opacity=70);opacity:0.7;z-index:990;position:fixed;}
.dialog{z-index: 991;width:100%;top:50%;margin-top:-2.5rem;position: fixed; }
.dialog .dialog-box{    width: 6.95rem; height: 4.55rem;
    background: url('../images/sprite.png') -7.28rem -0.1rem;
    background-size: 14.33rem 9.55rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2.07rem;
    margin-left: -3.47rem;
    z-index: 1;
}
.dialog .dialog-box h1{font-size:0rem; color:#fff; text-align:center; line-height:.8rem; font-weight:bold; position:relative;}
.dialog .dialog-box h1 .btn-close{ position:absolute; right:0; top:0; width:.8rem; height:.8rem; background:url(../images/icon_close.png) center center no-repeat;background-size:.44rem .44rem; font-size:0;}
.dialog .dialog-box .tel-area{padding:.62rem .28rem .2rem}
.dialog .dialog-box .tel-area li{margin-bottom:.3rem; position:relative;}
.dialog .dialog-box .tel-area li input{border:1px solid #c5c5c5;line-height:.74rem; width:100%; padding-left:.2rem; font-size:.26rem; border-radius:.08rem;}
.dialog .dialog-box .tel-area li a.btn-code{position:absolute; right:.12rem;top:.1rem; height:.58rem; line-height:.58rem; color:#fff; background-color:#ff8200; font-size:.26rem; text-align:center; padding:0 .12rem; border-radius:.06rem;}
.dialog .dialog-box .tel-area li a.btn-code:hover{background-color:#f47c00}

.dialog .dialog-box .tbmx{padding:0 .28rem;}
.dialog .dialog-box .tbmx li{width:23%; float:left; font-size:.26rem; border:1px solid #b4b4b4; text-align:center; overflow:hidden; border-radius:.06rem; margin-right:2.6666%; margin-bottom:.16rem; line-height:.44rem;}
.dialog .dialog-box .tbmx li:nth-child(4n){margin-right:0}
.dialog .dialog-box .logo-all{padding:.24rem .28rem .16rem}
.dialog .dialog-box .hdsj{text-align:center; color:#e40909; font-weight:bold; padding-bottom:.16rem; font-size:.26rem;}
.dialog .dialog-box .hdgz-area{ padding:.2rem .24rem .28rem; font-size:.28rem; line-height:.36rem;}
.dialog .dialog-box .hdgz-area em{display:block; float:left;}
.dialog .dialog-box .hdgz-area p{overflow:hidden;}

.jp-dialog{z-index:991;width:100%;top:50%;position: fixed;margin-top:-1rem; }
.jp-dialog .jp-dialog-box{width:100%; height:4.89rem; background:url(../images/dzp_zpdc_bg.png) center center no-repeat;background-size:100% 100%; text-align:center; font-size:0;padding-top:1.3rem; position:relative;}
.jp-dialog .jp-dialog-box p{    text-align: center;
    font-size: .46rem;
    color: #ffd200;
    width: 100%;
    line-height: 2.70rem;}
.jp-dialog .jp-dialog-box p em{display:block;color:#df0501; font-size:.32rem; margin-top:.02rem; font-weight:bold;}
.jp-dialog .jp-dialog-box a.btn-confirm{display:inline-block; width:2.46rem; height:.63rem; line-height:.58rem; background:url(../images/dzp_btn_bg.png) center center no-repeat;background-size:100% 100%; color:#d60000; font-size:.34rem; font-weight:bold; text-shadow:1px 1px 0 #feec65; position:absolute; bottom:-.9rem; left:50%; margin-left:-1.23rem; }
.jp-dialog .jp-dialog-box .zp{text-align:center;}
.jp-dialog .jp-dialog-box .zp img{ width:2.56rem; height:1.56rem;}

.wcjcs-area{text-align:center; font-size:.36rem; padding:.5rem 0;color:#000;}


.share-dialog{z-index: 991;width:100%; height:100%;top:0;position: fixed; }
.share-dialog .txt{width: 5.01rem; height:5.17rem;background:url(../images/share_bg.png) no-repeat center center;background-size:100% 100%; position:absolute; right:.3rem; top:.3rem; z-index:9; font-size:0;}
.share-dialog .share-btn-close{width: 2.29rem; height:1.22rem;background:url(../images/share_btn_close.png) no-repeat center center;background-size:100% 100%; position:absolute; left:50%; margin-left:-1.15rem; top:60%; z-index:99; font-size:0;}

.dialog .dialog-box .hdgz-area{ padding:.8rem .24rem .28rem; font-size:.3rem; line-height:.44rem; color:#1d1d1d;}
.dialog .dialog-box .hdgz-area em{display:block; float:left;}
.dialog .dialog-box .hdgz-area p{overflow:hidden;}

.input-2{padding:0 .3rem;}
.input-2 input{width: 75%;border:0; color:#131313; height:.82rem; border-radius:.08rem; font-size:.34rem; background-color:#fff; padding-left:.28rem; line-height:.82rem; border:1px solid #d5d5d5;}
.dialog-box .btn-orange{padding:0 2.28rem .34rem}
.dialog-box .btn-orange a{height:.8rem; line-height:.8rem; background:url(../images/btn-confirm.png);background-position: center;display: block; background-size: 2.32rem 1.13rem;background-repeat: no-repeat;height: 1.2rem; text-align:center; color:#fff; font-size:0rem;border-radius:.08rem; color:#fff; display:block}
.dialog-box .btn-orange a:hover{background-color:#f47c00;}
.dialog-title{background: url(../images/sprite.png);background-size: 14.33rem 8.68rem;margin: 0 auto;margin-top: 0.8rem;background-position: -7.15rem -7.89rem;width: 3.70rem;height: 0.66rem;}
.wrap{
	margin-top: 3.1rem;
}
.yyy{
	position: relative;
}
.bg-shake_btn_img{
	position: absolute;
	top: 70%;
	left: 50%;    
	width: 3.35rem;
    height: 1.15rem;
    margin-left: -1.65rem;
    margin-top: -0.57rem;
    background: url(../images/sprite.png) -7.28rem -5.48rem;
    background-size: 14.33rem 8.68rem;
    display: block;
}
.bg-rule_btn_img {
    width: 1.71rem;
    height: .63rem;
    background: url(../images/sprite.png) -.10rem -7.95rem;
    background-size: 14.33rem 8.68rem;
    position: absolute;
    right: 0;
    top: .22rem;
    text-indent: .15rem;
    font-size: .30rem;
    color: #fbff72;
    line-height: .63rem;
}
.bg-dia_bg2 {
    width: 6.98rem;
    height: 7.65rem;
    background: url(../images/sprite.png) -.10rem -.10rem;
    background-size: 14.33rem 8.68rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3.49rem;
    margin-top: -3.82rem;
}
.bg-dia_title3 {
    width: 2.88rem;
    height: .81rem;
    background: url(../images/sprite.png) -7.28rem -6.69rem;
    background-size: 14.33rem 8.68rem;
    margin: 0 auto;
    margin-top: .65rem;
}
.dia-rule li {
    padding-left: .67rem;
    padding-right: .67rem;
    font-size: .32rem;
    color: #ffe376;
}
.dialog .dialog-box .bg-dia_close_icon {
    width: .64rem;
    height: .64rem;
    background: url(../images/sprite.png) -12.76rem -6.69rem;
    background-size: 14.33rem 8.68rem;
    position: absolute;
    right: .45rem;
    top: -.30rem;
    display: block;
    font-size: 0;
}
.dialog .bg-dia_bg2 {
    width: 6.98rem;
    height: 7.65rem;
    background: url(../images/sprite.png) -.10rem -.10rem;
    background-size: 14.33rem 8.68rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3.49rem;
}
.bg-dia_bg1 {
    width: 6.95rem;
    height: 4.15rem;
    background: url(../images/sprite.png) -7.28rem -.10rem;
    background-size: 14.33rem 8.68rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2.07rem;
    margin-left: -3.47rem;
    z-index: 1;
}
.jp-dialog .bg-dia_bg1 {
    width: 6.95rem;
    height: 4.15rem;
    background: url(../images/sprite.png) -7.28rem -.10rem;
    background-size: 14.33rem 8.68rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2.07rem;
    margin-left: -3.47rem;
    z-index: 1;
    padding-top: 0;
}
.bg-dia_title1 {
    width: 2.96rem;
    height: .81rem;
    background: url(../images/sprite.png) -10.83rem -5.48rem;
    background-size: 14.33rem 8.68rem;
    margin: 0 auto;
    margin-top: .65rem;
}
.dia {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
}
.dia-thanks p {
    text-align: center;
    font-size: .46rem;
    color: #ffd200;
    width: 100%;
    line-height: 2.75rem;
}

.bg-dia_title2 {
    width: 2.20rem; height: .80rem;
    background: url('../images/sprite.png') -10.36rem -6.69rem;
    background-size: 14.33rem 8.68rem;
    margin: 0 auto;
    margin-top: .65rem;
}
.bg-dia_close_icon {
    width: .64rem;
    height: .64rem;
    background: url(../images/sprite.png) -12.76rem -6.69rem;
    background-size: 14.33rem 8.68rem;
    position: absolute;
    right: .45rem;
    top: -.30rem;
    display: block;
}